@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;900&display=swap');

@font-face {
  font-family: 'myriad-pro';
  src: url('../fonts/myriad-pro-regular.ttf') format('truetype');
}

.zm-background {
  background-image: url("../images/zm-texture.png");
}

.gradient {
  background: linear-gradient(90deg, #51D94D 0%, #398b41 100%);
}
